<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Jinja-loto</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <h1>LOTO številke</h1>
            <a href="/loto">Izberi 8 naključnih števil</a>


        <script src="https://code.jquery.com/jquery-1.12.3.min.js"
			 integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
			 crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </body>
</html>